ArchiveSources: => GetString("PostSources")
ArchiveKey: Tags
ArchiveKeyComparer: => StringComparer.OrdinalIgnoreCase.ToConvertingEqualityComparer()
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"tags/{NormalizedPath.OptimizeFileName(GetString("GroupKey"))}/index.html" : $"tags/{NormalizedPath.OptimizeFileName(GetString("GroupKey"))}/{GetInt("Index")}.html"
ArchivePageSize: 10
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchiveTitle: => GetString("GroupKey")
AllowComments: false
---
<ul class="cloud" role="navigation" aria-label="Webdev word cloud">
    @if (Document.ContainsKey(Keys.GroupKey))
{
    @Html.Partial("/_posts.cshtml", Document)
}
else
{
    foreach (IDocument tag in Document.GetChildren().OrderBy(x => x.GetTitle()))
    {
        string postCount = tag.GetChildren().Count().ToString();
    <li><a href="@Context.GetLink(tag)" data-weight="@postCount"> @tag.GetTitle() (@postCount)</a></li>
    }
}
</ul>