@model IDocument

@{
    string excerpt = Model.GetString(Statiq.Html.HtmlKeys.Excerpt);
}

<div class="post-preview">
    <h2 class="post-title">@Html.DocumentLink(Model)</h2>
    <div class="post-meta smaller-font">@Model.GetString(WebKeys.Author) - @Model.GetDateTime(WebKeys.Published).ToShortDateString()</div>
    @if (Model.ContainsKey("Lead"))
    {
    <p class="post-subtitle">@Model.GetString("Lead")</p>
    }
</div>