:root {
    --radius: 20px;
    --container-margin: 2rem;
    --icon-height: 20px;
    --header-height: 75px;
    --heading-background: #2e3842;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Open Sans", Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #444444;
    display: flex;
    flex-direction: column;

    > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: var(--container-margin) auto;
        border-radius: var(--radius);

        main {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 40px;
            background-color: white;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

            

            aside {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                section {
                    margin-bottom: 1rem;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

                    ul {
                        padding-top: 2rem;

                    }
                }
            }
        }

        footer {
            font-size: 0.8em; /* Smaller text for the disclaimer */
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            row-gap: 1rem;
            background-color: var(--heading-background);
            color: white;
            margin-bottom: 2rem;
            border-radius: 0 0 var(--radius) var(--radius);
            width: 100%;
            padding: 1rem 5rem;
            color: rgba(255, 255, 255, 0.6);
            overflow: visible;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

            .disclaimer {
                grid-column: 1 / -1;
                text-align: center;
            }

            > span {
                padding-bottom: 0;
            }

            nav {
                justify-self: start;
                padding-left: 1rem;

                ul {
                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 1rem;

                    li {
                        a {
                            color: rgba(255, 255, 255, 0.6);
                            text-decoration: none;
                        }

                        a:hover {
                            color: white;
                        }
                    }
                }
            }

            .copyright {
                text-align: center;
                padding-bottom: 1rem;
                justify-self: end;
                padding-right: 1rem;
            }

            nav, .copyright {
                height: 1rem;
            }
        }
    }
}

header {
    background-color: var(--heading-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    border-radius: var(--radius) var(--radius) 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    height: var(--header-height);

    label > img {
        height: 32px;
    }

    nav {
        display: flex;
        flex: 1;

        ul {
            list-style: none;
            display: flex;
            gap: 1rem;
            width: 100%;

            li {
                padding-top: 0.5rem;

                a {
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.6);

                    img {
                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(94deg) brightness(101%) contrast(101%) opacity(0.6);
                        height: var(--icon-height);
                    }

                    img:hover {
                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(94deg) brightness(101%) contrast(101%);
                    }
                }

                a:hover {
                    color: white;
                }
            }
            /* Corrected selector and added margin-left: auto */
            .first-social {
                margin-inline-start: auto;
            }
        }
    }

    > a > img {
        max-height: 50px;
        margin-top: -24px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(94deg) brightness(101%) contrast(101%);
    }
}

.heading {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 2rem 4rem;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 10%,
            rgba(255, 255, 255, 0) 90%,
            rgba(255, 255, 255, 1) 100%
        );
        pointer-events: none;
    }

    h2,
    div {
        background-color: white;
        position: relative;
        z-index: 1;
    }

    h2 {
        padding: .5rem;
    }
}



.side-posts {

    > li {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 1fr .5fr;
        gap: 0px 0px;
        padding: 0rem 1rem;
        grid-template-areas: "image metadata" "tags tags";

        > a {
            grid-area: image;
        }

        > div {
            grid-area: metadata;
        }

        > .tags {
            grid-area: tags;

            padding-top: 0;
        }
    }
}
h3 {
    word-wrap: break-word;
    text-align: center;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background: 0 0;
    text-decoration: none;
    position: relative;
    display: block;
    font-size: 1.25rem;
    color: #000000;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    font-weight: 600;
    padding: 1rem;
    margin: 0;

    a {
        text-decoration: none;
        color: #000000;
    }
}

h2 {
    padding-top: 2rem;
    margin-top: .5rem;
    padding-bottom: .5rem;
}

h2:after, h2:before {
    margin-bottom: 8px;
}


h2:after, h2:before, h3:after {
    content: '';
    width: 100%;
    display: block;
    margin-left: 0;
    margin-top: 8px;
    height: 1px;
    opacity: .25;
    background: #000;
    background: radial-gradient(circle,#000,transparent);
}

ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.75rem;
    width: 100%;

    a {
        --size: 4;
        --color: #a33;
        color: var(--color);
        font-size: calc(var(--size) * 0.25rem + 0.5rem);
        display: block;
        padding: 0.125rem 0.25rem;
        position: relative;
        text-decoration: none;
        border: none;
        /* 
      For different tones of a single color
      opacity: calc((15 - (9 - var(--size))) / 15); 
      */
    }

    a[data-weight="1"] {
        --size: 1;
    }

    a[data-weight="2"] {
        --size: 2;
    }

    a[data-weight="3"] {
        --size: 3;
    }

    a[data-weight="4"] {
        --size: 4;
    }

    a[data-weight="5"] {
        --size: 5;
    }

    a[data-weight="6"] {
        --size: 6;
    }

    a[data-weight="7"] {
        --size: 7;
    }

    a[data-weight="8"] {
        --size: 8;
    }

    a[data-weight="9"] {
        --size: 9;
    }

    ul[data-show-value] a::after {
        content: " (" attr(data-weight) ")";
        font-size: 1rem;
    }

    li:nth-child(2n+1) a {
        --color: #181;
    }

    li:nth-child(3n+1) a {
        --color: #33a;
    }

    li:nth-child(4n+1) a {
        --color: #c38;
    }

    a:focus {
        outline: 1px dashed;
    }

    a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background: var(--color);
        transform: translate(-50%, 0);
        opacity: 0.15;
        transition: width 0.25s;
    }

    a:focus::before,
    a:hover::before {
        width: 100%;
    }
}

.intro {
    -webkit-text-size-adjust: none;
    color: #fff;
    vertical-align: baseline;
    display: grid;
    justify-content: center;
    height: 550px;
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    text-align: center;
    margin: -40px;

    h2 {
        margin-top: 1rem;
    }

    img {
        color: #444444;
        justify-self: center;
        word-wrap: break-word;
        text-align: center;
        box-sizing: border-box;
        padding: 0;
        outline: 0;
        background: 0 0;
        text-decoration: none;
        position: relative;
        width: 220px;
        border-radius: 1000px 1000px 1000px 1000px;
        height: auto;
        border: none;
        box-shadow: none;
        vertical-align: middle;
        max-width: 100%;
    }

    .intro-about {
        margin: auto 6em;
        justify-self: center;
        max-height: 76px;
    }

    .cutout {
        vertical-align: baseline;
        background: 0 0;
        text-decoration: none;
        position: relative;
        transform: scale(1.5) rotate(180deg);
        overflow: hidden;
        width: 100%;
        line-height: 0;
        height: 100px;
        box-sizing: border-box;
        z-index: 2;
        align-self: flex-end;
        margin-bottom: 1rem;

        svg {
            box-sizing: border-box;
            display: block;
            position: relative;
            fill: white;
        }
    }
}

ul {
    padding-left: 1rem;

    > li > ul {
        padding-left: 2rem;
    }
}

.recent-posts {
    width: 100%; /* Ensures the container doesn't exceed its parent width */
    overflow-x: auto; /* Enables horizontal scrolling within the container */
    margin: 0 auto; /* Centers the container if it has a set width */
    h3 {
        margin-bottom: 2rem;
    }

    > ul {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        gap: 3rem;
        margin: 1.5rem 1.5rem 2rem 1.5rem;

        li {
            flex: 0 0 auto;
            flex-grow: 1;
            width: 320px; /* Adjust the width as needed */
            height: auto; /* Let the height adjust based on content */
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for elevation */
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            overflow: hidden;
            transition: box-shadow 0.3s ease; /* Transition for hover effect */

            &:hover {
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
            }

            > a {
                flex: 0 0 200px; /* Fixed height for the image */
                display: block;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; /* Ensures the image covers the container */
                }
            }
            /* Tag styling */
            > ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 8px; /* Space between tags */
                margin: 12px 8px 0; /* Space between image and tags */

                > li {
                    flex-grow: 0;
                    color: #555;
                    text-transform: uppercase;
                    padding: 2px 3px 1px 3px;
                    border-radius: 6px;
                    display: inline-block;
                    width: auto;
                    margin-right: 6px;
                    font-size: x-small;

                    > a {
                        color: #555;
                        text-decoration: none;
                    }
                }
            }


            h2 {
                font-size: 18px;
                margin: 12px 16px 0; /* Add space between title and the category */
                text-align: center; /* Center-align the title */
                font-weight: 500; /* Slightly lighter font weight for title */

                a {
                    color: #333;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline; /* Underline on hover */
                    }
                }
            }

            .post-meta {
                display: flex;
                justify-content: center;
                gap: 4px;
                margin: 8px 0 16px;
                font-size: 12px;
                color: #777;
                text-align: center;

                .author a {
                    color: #333;
                    font-weight: bold;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline; /* Underline on hover */
                    }
                }
            }
        }

        > li:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }

        > li {
            transform: scale(1.0);
            transition: transform 0.3s ease;
        }
    }
}

#menu-toggle {
    display: none;
}

.open-sidebar, .close-sidebar {
    z-index: 2;
    display: none;
}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.instagram-container {
    width: 300px; /* Set the desired width */
    max-width: 100%;
    overflow: hidden; /* Hide any overflow */

    blockquote {
        transform: scale(0.8); /* Adjust the scale to make it smaller */
        transform-origin: top left; /* Ensure scaling is from the top-left */
        max-width: none; /* Allow scaling to work properly */
    }
}

.linkedin-container {
    iframe {
        height: 399px;
        width: 710px;
        frameborder:0;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px; /* Space between tags */
    margin: 12px 8px 0; /* Space between image and tags */

    > li {
        flex-grow: 0;
        color: #555;
        text-transform: uppercase;
        padding: 2px 3px 1px 3px;
        border-radius: 6px;
        display: inline-block;
        width: auto;
        margin-right: 6px;
        font-size: x-small;
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease; /* Transition for hover effect */

        &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
        }

        > a {
            color: #555;
            text-decoration: none;
        }
    }
}

p {
    padding-top: 2rem;
}

aside > section > ul {
    list-style-type: none; // Remove bullet points
    padding: 0;
    margin: 0;

    li {
        display: flex; // Make the li a flex container
        align-items: flex-start; // Align items at the top
        margin-bottom: 15px; // Space between list items

        img {
            width: 100px; // Set desired width for the image
            height: auto;
            margin-right: 10px; // Space between image and text
            flex-shrink: 0; // Prevent image from shrinking
        }

        div {
            display: flex;
            flex-direction: column; // Stack text elements vertically

            a {
                font-weight: bold;
                text-decoration: none;
                color: #333;
                margin-bottom: 5px; // Space between title and date
            }

            span {
                font-size: 0.9em;
                color: #666;
            }
            // Add styles for any additional metadata here
            // For example, categories or tags
        }
    }
}


article {
    flex: 2;
    padding: 1rem;
    min-width: 0;

    img {
        max-height: 100px;
    }

    blockquote {
        font-weight: 400;
        word-wrap: break-word;
        font-size: 15px;
        line-height: 1.5em;
        box-sizing: border-box;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: 0 0;
        text-decoration: none;
        border-left: 4px solid #4776e6;
        position: relative;
        background-color: rgba(155,155,155,0.05);
        color: #000000;
        font-style: normal;
        padding: 20px 25px;
        margin: 0;
        border-radius: 3px;
    }

    > ol {
        padding-left: 0;
        counter-reset: step;
        display: inline-block;

        > li::before {
            font-weight: bold;
            counter-increment: step;
            content: counter(step);
            top: 0px;
            left: -1.2em;
            box-sizing: border-box;
            margin-right: 8px;
            font-size: .9rem;
            padding-top: .3em;
            padding-left: .6em;
            padding-bottom: .3em;
            padding-right: .6em;
            line-height: .7;
            text-align: center;
            border: 1px solid #dfdfdf;
            background: #fff;
            border-radius: 50%;
            display: inline;
        }

        > li {
            list-style: none;

            p {
                display: block;
                border-left: 1px solid #dfdfdf;
                margin-top: 0;
                margin-left: .95em;
                margin-bottom: 0;
                padding-left: 2em;
            }

            img {
                display: block;
                padding-bottom: 1em;
                height: 150px;
                float: none !important;
            }

            div {
                display: inline-block;
                border-left: 1px solid #dfdfdf;
                margin-top: 0;
                margin-left: .95em;
                margin-bottom: 0;
                padding-left: 2em;
            }

            ul {
                padding-left: 4em;
                display: inline-block;
                border-left: 1px solid #dfdfdf;
                margin-top: 0;
                margin-left: .95em;
                margin-bottom: 0;

                li {

                    ul {
                        padding-left: 0em;
                        border: none;
                        list-style: circle;
                    }
                }
            }
        }
    }
}

.about-author {
    background: linear-gradient(135deg, var(--heading-background), #333);
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .author-container {
        display: flex;
        align-items: center;

        .author-photo {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 3px solid #fff;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            margin-right: 1.5rem;
        }

        .author-social {
            margin-top: 1rem;

            ul {
                list-style: none;
                display: flex;
                width: 100%;
                gap: .5rem;
                padding-left: .5rem;

                li {
                    padding-top: 0.5rem;

                    a {
                        text-decoration: none;
                        color: rgba(255, 255, 255, 0.6);

                        img {
                            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(94deg) brightness(101%) contrast(101%) opacity(0.6);
                            height: var(--icon-height);
                        }

                        img:hover {
                            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(94deg) brightness(101%) contrast(101%);
                        }
                    }

                    a:hover {
                        color: white;
                    }
                }
            }
        }

        .author-details {
            h2 {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 0.75rem;
                padding: 0;
            }

            h2:after {
                margin-bottom: 0px;
            }

            p {
                font-size: 1rem;
                line-height: 1.6;
                max-width: 600px;
                padding-top: 1rem;
            }

            strong {
                font-size: 1.1rem;
                font-weight: bold;
                color: #ffcc00;
            }
        }
    }
}


/* Responsive design */

@media (max-width: 1200px) {
    body > div {
        max-width: 100%;
        margin: 0;
    }

    body > div > header, body > div > footer {
        max-width: 100%;
        margin: 0;
        border-radius: 0;
    }

    main {
        gap: 10px; /* Reduce the gap for tablet view */
        padding: 10px;
    }

}

@media (max-width: 800px) {
    
    .intro .intro-about {
        margin: auto 2em;
    }

    article {
        min-width: auto;
    }

    main {
        padding: 40px;
    }
}


@media (max-width: 600px) {

    .open-sidebar, .close-sidebar {
        display: block;
    }

    .close-sidebar {
        display: none;
    }

    #menu-toggle:checked ~ nav {
        display: block;

        .close-sidebar {
            display: block;
        }

        > .social {
            display: inline;
        }
    }
    #menu-toggle:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }

    header {
        flex-direction: column;
        display: block;
        height: var(--header-height);

        > label {
            justify-self: flex-end;
        }

        > a > img {
            margin-top: -42px;
        }

        nav {
            display: none;
            background-color: var(--heading-background);
            height: 110vh;
            z-index: 100;
            justify-content: flex-start; /* Align the first nav to the start */
            position: absolute;
            margin-top: calc(-1 * var(--header-height));
            width: 11rem;
            margin-left: -1rem;
            padding-left: 1rem;
            box-shadow: -5px 0 15px rgba(0, 0, 0, 0.75);
            z-index: 101;

            > label {
                margin-top: 2rem;
            }

            ul {
                gap: 0.5rem;
                text-align: center;
                display: block;

                li:not(.social) {
                    display: block;
                    text-align: left; /* Aligns text to the left within the li */
                }

                li.social {
                    display: inline-block;
                    margin-block-start: .5rem;
                }
                
                li.first-social {
                    margin-left: -1.5rem;
                }
            }
        }


        nav.social {
            display: none;
            justify-content: flex-end; /* Align the second nav to the end */
            margin-top: 1rem;
            padding-top: 8rem;
            background-color: transparent;
            z-index: 102;

        }

        > img {
            order: -1; /* Move the logo above the navigation */
            margin-bottom: 1rem;
        }
    }

    body > div {
        margin: 0;

        main {

            article, aside {
                width: 100%;
                flex: none; /* Ensure full width for mobile */
                padding: 1rem;
            }
        }

        footer nav ul {
            align-items: center;

            li {
                margin-bottom: 0.5rem;
            }
        }
    }
}

.published {
    .original-publish {
        font-size: 0.8em;
        color: #777;
        font-style: italic;
    }
}

/* For very small mobile devices (max-width: 480px) */
@media (max-width: 500px) {
    body > div {
        padding: 0;

        header {
            nav ul {
                gap: 0.3rem; /* Further reduce the gap for very small screens */
            }
        }

        main {
            padding: 10px;

            .intro {
                margin: -10px;
            }

            article, aside {
                padding: 0.5rem;

                :root {
                    --radius: 20px;
                    --container-margin: 2rem;
                    --icon-height: 20px;
                    --header-height: 75px;
                    --box-shadow-color: rgba(0, 0, 0, 0.5);
                    --primary-color: #4776e6;
                    --background-color: #444444;
                    --text-color: #333;
                    --blockquote-bg: rgba(155, 155, 155, 0.05);
                }

                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }

                html, body {
                    height: 100%;
                    font-family: "Open Sans", Helvetica, sans-serif;
                }

                body {
                    line-height: 1.6;
                    color: var(--text-color);
                    background-color: var(--background-color);
                    display: flex;
                    flex-direction: column;

                    > div {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        max-width: 1200px;
                        margin: var(--container-margin) auto;
                        border-radius: var(--radius);

                        main {
                            flex: 1;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 20px;
                            padding: 20px;
                            background-color: white;
                            box-shadow: 0 4px 6px var(--box-shadow-color);

                            article {
                                flex: 2;
                                padding: 1rem;

                                blockquote {
                                    font-weight: 400;
                                    word-wrap: break-word;
                                    font-size: 1rem; /* Changed to rem */
                                    line-height: 1.5em;
                                    box-sizing: border-box;
                                    border: 0;
                                    outline: 0;
                                    vertical-align: baseline;
                                    text-decoration: none;
                                    border-left: 4px solid var(--primary-color);
                                    position: relative;
                                    background-color: var(--blockquote-bg);
                                    color: #000000;
                                    font-style: normal;
                                    padding: 20px 25px;
                                    margin: 0;
                                    border-radius: 3px;
                                }
                            }

                            aside {
                                flex: 1;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;

                                section {
                                    margin-bottom: 1rem;
                                    border: 1px solid #ddd;
                                    border-radius: 4px;
                                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

                                    ul {
                                        padding-top: 2rem;
                                    }
                                }
                            }
                        }

                        footer {
                            font-size: 0.8em; /* Smaller text for the disclaimer */
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: auto auto;
                            row-gap: 1rem;
                            background-color: var(--heading-background);
                            color: rgba(255, 255, 255, 0.6);
                            margin-bottom: 2rem;
                            border-radius: 0 0 var(--radius) var(--radius);
                            width: 100%;
                            padding: 1rem 5rem;
                            overflow: visible;
                            box-shadow: 0 4px 6px var(--box-shadow-color);

                            .disclaimer {
                                grid-column: 1 / -1;
                                text-align: center;
                            }

                            > span {
                                padding-bottom: 0;
                            }

                            nav {
                                justify-self: start;
                                padding-left: 1rem;

                                ul {
                                    list-style: none;
                                    display: flex;
                                    justify-content: space-around;
                                    margin-bottom: 1rem;

                                    li {
                                        a {
                                            color: rgba(255, 255, 255, 0.6);
                                            text-decoration: none;
                                        }

                                        a:hover {
                                            color: white;
                                        }
                                    }
                                }
                            }

                            .copyright {
                                text-align: center;
                                padding-bottom: 1rem;
                                justify-self: end;
                                padding-right: 1rem;
                            }
                        }
                    }
                }

                header {
                    background-color: var(--heading-background);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem;
                    position: relative;
                    border-radius: var(--radius) var(--radius) 0 0;
                    box-shadow: 0 4px 6px var(--box-shadow-color);
                    height: var(--header-height);

                    label > img {
                        height: 32px;
                    }

                    nav {
                        display: flex;
                        flex: 1;

                        ul {
                            list-style: none;
                            display: flex;
                            gap: 1rem;
                            width: 100%;

                            li {
                                padding-top: 0.5rem;

                                a {
                                    text-decoration: none;
                                    color: rgba(255, 255, 255, 0.6);

                                    img {
                                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(94deg) brightness(101%) contrast(101%) opacity(0.6);
                                        height: var(--icon-height);
                                    }

                                    img:hover {
                                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(94deg) brightness(101%) contrast(101%);
                                    }
                                }

                                a:hover {
                                    color: white;
                                }
                            }

                            .first-social {
                                margin-inline-start: auto;
                            }
                        }
                    }

                    > a > img {
                        max-height: 50px;
                        margin-top: -24px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(94deg) brightness(101%) contrast(101%);
                    }
                }

                .side-posts {
                    > li {
                        display: grid;
                        grid-template-columns: .5fr 1fr;
                        grid-template-rows: 1fr .5fr;
                        gap: 0px 0px;
                        padding: 0rem 1rem;
                        grid-template-areas: "image metadata" "tags tags";

                        > a {
                            grid-area: image;
                        }

                        > div {
                            grid-area: metadata;
                        }

                        > .tags {
                            grid-area: tags;
                            padding-top: 0;
                        }
                    }
                }
            }
        }

        footer {
            padding: 1rem 2rem;
            nav ul {
                gap: 0.3rem; /* Reduce gap in footer */
            }
        }
    }

}
